*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}
.bg-image{
     
    background-image: url("../images/cover-page.jpg");
    background-size: cover;
    background-position: center center;
}
.full-height{
    height: 100vh;
}

#particles-js{

  z-index: 1;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
}

.navbar-changeColor{
    transform: translate3d(0,100%,0);
    background-color: black;
}

.navbar{
   
    background: transparent;
    padding: 0px 80px;
    transition: .6s;

}
button.navbar-toggler{
   border: none;
}

.fa-ellipsis-h{
    color: white;
}
.navbar-brand, .nav-link{
    color: white;
}
.navbar-brand{
    font-weight: bold;
    font-size: 40px;
}
.nav-link{
    font-size: 25px;
    margin-right: 40px;
    height: auto;
    text-align: center;
    
}
.nav-link::after{
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}
.navbar-brand:hover{
    color: #e3e1df;
}
.nav-link:hover{
    color: #e3e1df;
}

.nav-link:hover::after{
    color: #e3e1df;
    width: 100%;
   
}
.about-me{
 
    padding-top: 120px;
    padding-bottom:120px;
}
#about-header{
    font-weight: 900;
}
#about-header::after{
    content: ' ';
    display: block;

    height: 2px;
    background: black;
    transition: width .3s;
    width: 10%;
    
}
#hobbies::after{
    content: ' ';
    display: block;

    height: 2px;
    background: black;
    transition: width .3s;
    width: 10%;
}
.next{
    width: 100%;
    height: 100%;
    background: blue;
}

.car-1 {
    width: 100%;
    height: 50vh;
    background: #1f1e1e;
    color: white;
    text-align: center;
}

.quote-of-the-day{
    width: 100%;
    height: 50vh;
}
.quote{
    padding-top: 50px;
    font-size: 25px;
}
.author{
    font-size: 18px;
    font-family: cursive;
}
.carousel-item{
    margin-top: 20px;
}

/* flip animations */

.flip3D{ 
    padding-top: 20px;
    width:350px; 
    height:300px;
    margin: 0 auto;
}
.flip3D > .front{
    position:absolute;
    -webkit-transform: perspective( 600px ) rotateY( 0deg );
	transform: perspective( 600px ) rotateY( 0deg );
    background:#FC0; 
    width:350px; 
    height:300px; 
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
}
.flip3D > .back{
    
    position:absolute;
    -webkit-transform: perspective( 600px ) rotateY( 180deg );
	transform: perspective( 600px ) rotateY( 180deg );
    background: #878685;
    width:350px; 
    height:300px;
       border-radius: 10px;
       -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
}
.flip3D:hover > .front{
    -webkit-transform: perspective( 600px ) rotateY( -180deg );
	transform: perspective( 600px ) rotateY( -180deg );
}

.flip3D:hover > .back{
    -webkit-transform: perspective( 600px ) rotateY( 0deg );
	transform: perspective( 600px ) rotateY( 0deg );
}
#about-text{
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
}


#portfolio-page{
    text-align: center;
    clear:both;
    display:block;
    width: 100%;
    height: 100%;
    background:#f0eeec;
}
.col-md-6{
    margin-top: 20px;
    padding: 0;
}
#portfolio-header{
    padding-top: 20px;
    border-bottom: 3px solid black;
    font-weight: 900;
}
#image-size{
    border-radius: 10px;
    width:350px; 
    height:300px;
}
#live-link,#github-link {
    transition: .3s;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
#live-link:hover , #github-link:hover{
    color: red;
}
label{
    font-size: 20px;
}
.form-group{
    padding-top: 20px
}
#portfolio-page{
    width: 100%;
    height: 100vh;
    overflow: auto;
}
form{
    padding-bottom: 20px;
}
#personal-img{
    margin-left: 40px;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 50%;
}
.card{
    background-color:#f0eeec;
border-style: none;
    margin: 10px;
    transition: .5s
    
}
.card:hover {
    -webkit-box-shadow: inset 0px 0px 71px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 71px -12px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 71px -12px rgba(0,0,0,0.75);
  }
  .card-header{
    background: #f0eeec;
  }
.project-images{
    width: 100%;
    height: 350px;
}
#portfolio-title{
    margin-top: 100px;
}

.portfolio-github{
    float:left;
    width: 50%;
}
.portfolio-demo{
    float:right;
    width: 50%;
    
}
a{
    border:none;
}
.hover{
   border-radius: 0px;
   border:0px;
   transition: .5s;
   padding: .375rem .75rem;
   line-height: 1.5;
}
.hover:hover{
    border: 2px solid white;
    background: white;
    color: black;
  

}
.project-links{
    border:0px;
    border-style: none;
}
@media screen and (max-width: 991px){
    .nav-link{
        margin: 0 auto;
        text-align: center;
        color: black;
        background: #fff;
        width: 100%;
        border-bottom: 2px solid black;
    }
    #personal-img{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 445px){

    .navbar-brand{
        font-size: 28px;
    }
  
    .nav-link:last-child{
        border-bottom: 2px solid black;
    }
    #about-bio{
        padding: 0 20px;
    }
    .quote{
        font-size: 18px;
       
    }
  
  
}

.certificate-section{
    height: 100vh;
    width: 100%;
    /* background: #eee; */
    position: relative;
    background:#eee;

}
.certificate-border-box{

    position: absolute;
    width: 50%;
    height: 50vh;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
 

    border-radius: 10px;
    transition: .5s;

    
}
.certificate-border-box:hover{
    background: #c7c7c7;
}
.certificate{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: .5s;
    -webkit-box-shadow: 1px 4px 26px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 26px -9px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px -9px rgba(0,0,0,0.75);
    padding: 0;
}
.certificate-box{
    top:50%;
    position: relative;
    transition: .5s;

}
.certificate-box:hover{
    transform: scale(1.1);
}

.badge{
    padding: 0;
}