*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}
.bg-image{
     
    background-image: url("../images/cover-page.jpg");
    background-size: cover;
    background-position: center center;
}
.full-height{
    height: 100vh;
}

#particles-js{

  z-index: 1;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
}

.navbar-changeColor{
    transform: translate3d(0,100%,0);
    background-color: black;
}

.navbar{
   
    background: transparent;
    padding: 0px 80px;
    transition: .6s;

}
button.navbar-toggler{
   border: none;
}

.fa-ellipsis-h{
    color: white;
}
.navbar-brand, .nav-link{
    color: white;
}
.navbar-brand{
    font-weight: bold;
    font-size: 40px;
}
.nav-link{
    font-size: 25px;
    margin-right: 40px;
    height: auto;
    text-align: center;
    
}
.nav-link::after{
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}
.navbar-brand:hover{
    color: #e3e1df;
}
.nav-link:hover{
    color: #e3e1df;
}

.nav-link:hover::after{
    color: #e3e1df;
    width: 100%;
   
}
.about-me{
 
    padding-top: 120px;
    padding-bottom:120px;
}
#about-header::after{
    content: ' ';
    display: block;

    height: 2px;
    background: black;
    transition: width .3s;
    width: 10%;
}
#hobbies::after{
    content: ' ';
    display: block;

    height: 2px;
    background: black;
    transition: width .3s;
    width: 10%;
}
.next{
    width: 100%;
    height: 100%;
    background: blue;
}

.car-1 {
    width: 100%;
    height: 35vh;
    background: #1f1e1e;
    color: white;
    text-align: center;
}
#quote-header{
    padding-top: 20px;
}
.quote{
    padding-top: 50px;
    font-size: 25px;
}
.author{
    font-size: 18px;
    font-family: cursive;
}


/* flip animations */
.flip3D{ 
    padding-top: 20px;
    width:350px; 
    height:300px;
    margin: 0 auto;
}
.flip3D > .front{
	position:absolute;
	transform: perspective( 600px ) rotateY( 0deg );
    background:#FC0; 
    width:350px; 
    height:300px; 
    border-radius: 10px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip3D > .back{
    
	position:absolute;
	transform: perspective( 600px ) rotateY( 180deg );
    background: #878685;
    width:350px; 
    height:300px;
       border-radius: 10px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip3D:hover > .front{

	transform: perspective( 600px ) rotateY( -180deg );
}

.flip3D:hover > .back{
  
	transform: perspective( 600px ) rotateY( 0deg );
}


#portfolio-page{
    text-align: center;
    clear:both;
    display:block;
    width: 100%;
    height: 100%;
    background: #ffeda5;
}
.col-md-6{
    margin-top: 20px;
    padding: 0;
}
#portfolio-header{
    padding-top: 20px;
    border-bottom: 2px solid black;
}
#image-size{
    border-radius: 10px;
    width:350px; 
    height:300px;
}
#live-link,#github-link {
    transition: .3s;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
#live-link:hover , #github-link:hover{
    color: red;
}
label{
    font-size: 20px;
}
.form-group{
    padding-top: 20px
}
