*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}
.bg-image{
     
    background-image: url("../images/cover-page.jpg");
    background-size: cover;
    background-position: center center;
}
.full-height{
    height: 100vh;
}

#particles-js{

  z-index: 1;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
}

.navbar-changeColor{
    transform: translate3d(0,100%,0);
    background-color: black;
}

.navbar{
   
    background: transparent;
    padding: 0px 80px;
    transition: .6s;

}
button.navbar-toggler{
   border: none;
}

.fa-ellipsis-h{
    color: white;
}
.navbar-brand, .nav-link{
    color: white;
}
.navbar-brand{
    font-weight: bold;
    font-size: 40px;
}
.nav-link{
    font-size: 25px;
    margin-right: 40px;
    height: auto;
    text-align: center;
    
}
.nav-link::after{
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}
.navbar-brand:hover{
    color: #e3e1df;
}
.nav-link:hover{
    color: #e3e1df;
}

.nav-link:hover::after{
    color: #e3e1df;
    width: 100%;
   
}
.about-me{
 
    padding-top: 120px;
    padding-bottom:120px;
}
#about-header::after{
    content: ' ';
    display: block;

    height: 2px;
    background: black;
    transition: width .3s;
    width: 10%;
}
#hobbies::after{
    content: ' ';
    display: block;

    height: 2px;
    background: black;
    transition: width .3s;
    width: 10%;
}
.next{
    width: 100%;
    height: 100%;
    background: blue;
}

.car-1 {
    width: 100%;
    height: 35vh;
    background: #1f1e1e;
    color: white;
    text-align: center;
}
#quote-header{
    padding-top: 20px;
}
.quote{
    padding-top: 50px;
    font-size: 25px;
}
.author{
    font-size: 18px;
    font-family: cursive;
}


/* flip animations */


#portfolio-page{
    clear:both;
    display:block;
    width: 100%;
    height: 100%;
    background: #ffeda5;
}
.card{
    margin: 0 auto;
}

